{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["**/.*rc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
